.headline{
    height: 35px;
    background: white;
}
.firstline{
    height: 60px;
    background:white;
    font-size: 16px;
    color: grey;
}
.secondline{
    height: 380px;
    background: palevioletred;
}
.lastline{
    height: 200px;
    background: white;
}
.addline{
    height: 100px;
    background: grey;
}
.f{
    color: black;
}
.l{
    height: 380px;
}
.phone{
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 20px;
}
.phone p{
    font-size: 18px;
}
.phone1{
    margin-left: 16px;
    margin-top: 0px;
}